<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
    <link rel="stylesheet" href="css/files/style.css">
</head>

<body>
    <h1>Files Page</h1>
    <h3>Select File To DownLoad</h3>
    <ul></ul>
    <li><a href="/download/files/MangMayTinh.txt">Text Mạng Máy Tính</a></li>
    <li><a href="/download/files/MangMayTinh.jpg">Image Mạng Máy Tính</a></li>
    <li><a href="/download/files/Eyes-GDucky.webm">Eyes-GDucky</a></li>
    <li><a href="/download/files/BlackJack-SOOBIN-Binz.mp3">BlackJack-SOOBIN-Binz</a></li>
</body>

</html>